$br-radius:10px;
$bg-color:#fff;
$margin:3.125rem;
$padding: 1.3125rem 0 2.875rem 1.8125rem;
$color:#292929;
$height:auto;
$line-hgt:1.2;
$fnt-size:2.25rem;
$fnt-wght:bold;
$bg-clr1:#ffbc0d;
$br-radius:0.25rem;